<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.mapper.SalesContractMapper">

    <resultMap id="BaseResultMap" type="com.ledger.model.entity.SalesContract">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="projectSource" column="project_source" jdbcType="TINYINT"/>
            <result property="projectStatus" column="project_status" jdbcType="TINYINT"/>
            <result property="projectDirector" column="project_director" jdbcType="VARCHAR"/>
            <result property="customer" column="customer" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="contractName" column="contract_name" jdbcType="VARCHAR"/>
            <result property="contractAmount" column="contract_amount" jdbcType="DECIMAL"/>
            <result property="contractType" column="contract_type" jdbcType="TINYINT"/>
            <result property="biddingMethod" column="bidding_method" jdbcType="VARCHAR"/>
            <result property="settlementAmount" column="settlement_amount" jdbcType="DECIMAL"/>
            <result property="taxRate" column="tax_rate" jdbcType="DECIMAL"/>
            <result property="contractDate" column="contract_date" jdbcType="DATE"/>
            <result property="contractPeriod" column="contract_period" jdbcType="VARCHAR"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,year,project_source,
        project_status,project_director,customer,
        project_name,contract_name,contract_amount,
        contract_type,bidding_method,settlement_amount,
        tax_rate,contract_date,contract_period,
        create_id,create_time,update_time
    </sql>
</mapper>
